.card {
    background-color: rgb(236, 152, 152);
    width: 500px;
    margin: 40px auto;
    border: 5px solid #000000;
}

.title {
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid seagreen;
}

.content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid red;
}

.button_c {
    padding: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(68, 23, 190);   
    text-align: center;
}

.b{
    background-color: green;
}

.c{
    background-color: salmon;
}