.container{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.container div{
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 250px;
    flex: 1 1 auto;
}

.container .item2{
    flex-shrink: 0;
}